body{
    background: linear-gradient(#36d1dc 0%,#ffc371 100%);    
    background-position:center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
a{
    margin:20px;
    width:150px;
}
